html, 
body, 
#root, 
#root > div {
  height: 100%;
  width: 100%;
}

.leaflet-popup-content-wrapper {
  background-color: black;
  color: white;
  opacity: 0.9;
}
.leaflet-container a
{
  color: white;
}
.fa-map-marker:before {
  content: "\f041";
}
.fa-tag:before {
    content: "\f02b";
}

.button {
  width: 100%;
  min-width: auto;
  border: 1px solid rgba(0,0,0,.1);
  background-color: #188479;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  
    font-size: 1.125em;
    -webkit-box-shadow: 0 8px 20px 0 rgba(0,0,0,.1);
    box-shadow: 0 8px 20px 0 rgba(0,0,0,.1);
    transition: all .5s;
    transition-property: opacity,box-shadow;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
